.header {
    background-image: url(../img/firstBack.png);
    background-position: top;
    padding: 281px 0 123px 0;
    text-align: center;

    &__title {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 7px;
        letter-spacing: 0.058em;
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 36px;
        }
    }

    &__subtitle {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.23em;
        margin-bottom: 48px;
    }

    &__scroll {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: capitalize;
        letter-spacing: 0.14em;

        &:hover {
            color: #FF6363;
        }
    }

}